<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>repostatus.org</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/samplecode.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="application/javascript">
      var badge_data;

      $.getJSON('badges/0.1.0/badges.json', function(json){ badge_data = json; });
      
      function showsample(badgename, markup) {
      output = '';
      outtype = '';
      if ( markup == "md" ) {
        output = make_md(badgename, badge_data[badgename]['url'], badge_data[badgename]['description']);
        outtype = "Markdown";
      } else if ( markup == "rst" ) {
        output = make_rst(badgename, badge_data[badgename]['url'], badge_data[badgename]['description']);
        outtype = "ReST";
      } else if ( markup == "html") {
        output = make_html(badgename, badge_data[badgename]['url'], badge_data[badgename]['description']);
        outtype = "HTML";
      }
      $("#samplecode").html(output);
      $("#sampletitle").html(outtype + " for " + capitalizeFirstLetter(badgename) + " Status (<a href=\"http://www.repostatus.org/badges/0.1.0/" + badgename + "_" + markup + ".txt\">direct link</a>)");
      $("#samplewrapper").show();
      }

      function make_md(badgename, url, desc) {
        return "<code>" + htmlEncode("[![Project Status: " + capitalizeFirstLetter(badgename) + " - " + desc + "](" + url + ")](http://www.repostatus.org/#" + badgename + ")") + "</code>";
      }

      function make_rst(badgename, url, desc) {
        return "<code>" + htmlEncode(".. image:: " + url) + "</code><br />&nbsp;&nbsp;&nbsp;<code>" + htmlEncode(":alt: Project Status: " + capitalizeFirstLetter(badgename) + " - " + desc) + "</code><br />&nbsp;&nbsp;&nbsp;<code>" + htmlEncode(":target: http://www.repostatus.org/#" + badgename) + "</code>";
      }

      function make_html(badgename, url, desc) {
        return "<code>" + htmlEncode("<a href=\"http://www.repostatus.org/#" + badgename + "\"><img src=\"" + url + "\" alt=\"Project Status: " + capitalizeFirstLetter(badgename) + " - " + desc + "\" \></a>") + "</code>";
      }
      
      function capitalizeFirstLetter(string)
      {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }

      function htmlEncode(value) {
        return $('<div/>').text(value).html();
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>repostatus.org</h1>
        <p>A standard to easily communicate to humans and machines the development/support and usability status of software repositories/projects.</p>
	<p><a href="http://www.repostatus.org/#active"><img src="http://www.repostatus.org/badges/0.1.0/active.svg" alt="Project Status: Active - The project has reached a stable, usable state and is being actively developed." /></a></p>
        <p class="view"><a href="https://github.com/jantman/repostatus.org">View the Project on GitHub <small>jantman/repostatus.org</small></a></p>

	<p class="view"><a href="/">Home</a></p>
	<p class="view"><a href="/history">History</a></p>
	<p class="view"><a href="/parsers">Parsers</a></p>
	
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/jantman">jantman</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
	<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
